* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

:root {
  --screen-height: calc(20px + 35vh);
  --screen-width: calc(100px + 50vw);
  --speech-width: calc(var(--screen-width) - 100px);
  --points-width: calc(((var(--speech-width) + 100px) / 2) - 20px);
  --circle-size: calc(50px + 1vw);
  --circle-gap: calc(5px + 1vw);
}

html {
  background: url(./images/computer-01.svg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* gap: 40px; */
}

.content {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(133, 206, 222);
  border: solid rgb(30, 10, 30) 12px;
  border-radius: 10px;
  height: var(--screen-height);
  width: var(--screen-width);
  /* top: 25vh; */
}

.speech-bubble,
.your-points,
.computer-points {
  border-radius: 20px;
  color: rgb(40, 40, 40);
  text-align: center;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 4px 4px 10px #aaaaaa; */
}

.your-points,
.computer-points {
  height: 45px;
  width: var(--points-width);
  /* background-color: rgb(11, 10, 66); */
}

.speech-bubble {
  height: 80px;
  width: var(--speech-width);
  /* background-color: rgb(27, 24, 24); */
  padding-left: 40px;
  padding-right: 40px;
}

.points {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: auto;
  height: 100px;
  width: 1080px;
  /* background-color: rgb(139, 194, 224); */
  border-radius: 20px;
}

.icon-img,
button {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.icon-img {
  transform: scale(0.5);
}

button {
  border-color: white;
  background-color: rgb(242, 242, 235);
  box-shadow: 4px 4px 10px #2f4a9b82;
}

.comp-circles,
.choice-circles {
  display: flex;
  gap: var(--circle-gap);
}

.comp-circle,
.circle {
  background-color: rgb(234, 241, 255);
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;

  /* box-shadow: 5px 5px rgba(8, 15, 81, 0.556); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  box-shadow: 5px 5px rgba(22, 5, 55, 0.834);
}

.circle:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

.circle:active {
  background-color: rgb(250, 255, 113);
}

header {
  padding: 16px;
  text-align: left;
  color: white;
  font-size: 9px;
}
