* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.speech-bubble,
.your-points,
.computer-points {
    height: 150px;
    border-radius: 20px;
    
    color: white;
    text-align: center;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px #aaaaaa;
}

.your-points,
.computer-points {
    width: 480px;
    background-color: rgb(52, 52, 52);
}

.speech-bubble {
    margin-top: 40px;
    width: 1000px;
    background-color: rgb(27, 24, 24);
}

.points {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: auto;
} 

img,
button {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;    
}

img {
    transform: scale(0.7);
}

button {
    border-color: white;
    background-color: rgb(242, 242, 235);
    box-shadow: 4px 4px 10px #aaaaaa;
}
